node_modules
.DS_Store
dist/
typings/
*.orig
.idea/
package-lock.json
demo/.editorconfig
demo/.gitattributes
demo/.gitignore
demo/.travis.yml
demo/pom.xml
demo/src/main/java/com/example/zhangjunyun/App.java
demo/src/test/java/com/example/zhangjunyun/AppTest.java
demo1/demo1.iml
demo1/pom.xml
demo1/src/main/java/start.java
demo1/target/demo1-1.0-SNAPSHOT.jar
demo1/target/classes/start.class
demo1/target/maven-archiver/pom.properties
demo1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
demo1/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
nginx/package.json
nginx/logs/access.log
nginx/logs/error.log
nginx/src/index.js
